<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Sirius</vendor>
  <vendor_url>https://github.com/</vendor_url>
  <action id="io.sirius.Installer.run-playbook">
    <description>Install the operating system</description>
    <message>Authentication is required to install the operating system</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/sirius</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">run-playbook</annotate>
  </action>
</policyconfig>
